<!-- ============================================================== -->
<!-- Image Card row (FOR DATA OF A QUERY) --> 
<!-- ============================================================== -->
<div fxLayout="row wrap" *ngIf="selectedQuery!=null">
    <!-- Card column -->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100" *ngIf="modelExists==true && queryModel!=null">
        <!--List of users that meet if model exists-->
        <button style="width: 100%;" (click)="selectGeneral()" mat-raised-button color="secondary" *ngIf="selectedUser!=null">Return to social model</button>
        <mat-card>
            <div class="p-20 bg-info position-relative">
                <h4 class="card-title text-white m-0">Users model</h4>
                <h6 class="card-subtitle text-white m-0 op-5">Select individual model of users that meet the pattern</h6>
            </div>
            <div class="message-box contact-box p-20">
                <div class="message-widget contact-widget">
                    <div fxFlex.gt-sm="100" fxFlex="100">
                        <mat-form-field>
                            <mat-select [(ngModel)]="selectedUser" (selectionChange)="onChangeSelectedUser()" placeholder="Select">
                                <mat-option *ngFor="let user of queryModel.users_id" [value]="user">{{user}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card *ngIf="users.length!=queryModel.users_id.length">
            <div class="p-20 bg-info position-relative">
                <h4 class="card-title text-white m-0">Update model</h4>
                <h6 class="card-subtitle text-white m-0 op-5">Update the model with data from new users</h6>
            </div>
            <div class="message-box contact-box p-20">
                <div class="message-widget contact-widget">
                    <div fxFlex.gt-sm="100" fxFlex="100">
                        <p>Actual model was generated with data of {{queryModel.users_id.length}} users. New users have responded the query since that moment.</p>
                        <p>Number of users that have sent data: {{users.length}}.</p>
                        <button mat-raised-button color="primary" (click)="generateModel()">Update model</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <!--Detail-->

        <!--Option 1: Not exists model generated-->
        <mat-card *ngIf="modelExists==false">
            <div class="p-20 bg-info position-relative">
                <h4 class="card-title text-white m-0">Generate model</h4>
                <h6 class="card-subtitle text-white m-0 op-5">Generate model with data of <span *ngIf="users==null">Loading...</span><span *ngIf="users!=null">{{users.length}}</span> users</h6>
            </div>
            <div class="message-box contact-box p-20">
                <div class="message-widget contact-widget">
                    <div fxFlex.gt-sm="100" fxFlex="100">
                        <p>Number of users that send data: <span *ngIf="users==null">Loading...</span><span *ngIf="users!=null">{{users.length}}</span></p>
                        <button mat-raised-button color="primary" (click)="generateModel()">Generate model</button>
                    </div>
                </div>
            </div>
        </mat-card>

        <!--Option 2: Social Model selected-->
        <mat-card *ngIf="modelExists==true && queryModel!=null && selectedUser==null">
            <div class="p-20 bg-info position-relative">
                <h4 class="card-title text-white m-0">Social model</h4>
                <h6 class="card-subtitle text-white m-0 op-5">Show information about social model</h6>
            </div>
            <div class="message-box contact-box p-20">
                <div class="message-widget contact-widget">
                    <div class="p-20 position-relative" fxFlex.gt-lg="25" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
                        <p>
                            <span><b>Query:</b> {{selectedQuery.name}}</span> <br>
                            <span><b>Statistics:</b>
                                <ul>
                                    <li>Number of activities: {{queryModel.statistics.activities}}</li>
                                    <li>Number of arcs: {{queryModel.statistics.arcs}}</li>
                                    <li>Sum arcs weights: {{queryModel.statistics.sum_arcs_weights}}</li>
                                    <li>Evaluation: 
                                    <ul>
                                        <li>Fitness: 
                                            <ul><li>Average trace fitness: {{queryModel.statistics.evaluation.fitness.average_trace_fitness}}</li>
                                            <li>Log fitness: {{queryModel.statistics.evaluation.fitness.log_fitness}}</li>
                                            <li>Percentage fit traces: {{queryModel.statistics.evaluation.fitness.perc_fit_traces}}</li>
                                            </ul></li>
                                        <li>F-score: {{queryModel.statistics.evaluation.fscore}}</li>
                                        <li>Generalization: {{queryModel.statistics.evaluation.generalization}}</li>
                                        <li>Metrics Average Weight: {{queryModel.statistics.evaluation.metricsAverageWeight}}</li>
                                        <li>Precision: {{queryModel.statistics.evaluation.precision}}</li>
                                        <li>simplicity: {{queryModel.statistics.evaluation.simplicity}}</li>
                                    </ul></li>
                                    <li>Avg. time to generate each individual model: {{queryModel.statistics.avg_time_individual_models}}</li>
                                    <li>Time to generate all the individual models: {{queryModel.statistics.sum_time_individual_models}}</li>
                                    <li>Time to integrate the traces: {{queryModel.statistics.generate_log_total}}</li>
                                    <li>Time to generate the social model: {{queryModel.statistics.time_total_log_model}}</li>
                                </ul> </span>
                        </p>
                    </div>
                    <div class="p-20 position-relative" fxFlex.gt-lg="75" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">                        
                        <img style="max-width:100%;" [src]="'data:image/png;base64,'+queryModel.image | safeHtml" alt="Social model" (click)="swipe('data:image/png;base64,'+queryModel.image, selectedQuery.name);"/>
                    </div>
                </div>
            </div>
        </mat-card>

        <!--Option 3: User Model selected-->
        <mat-card *ngIf="modelExists==true && queryModel!=null && selectedUser!=null && userModel!=null">
            <div class="p-20 bg-info position-relative">
                <h4 class="card-title text-white m-0">Social model</h4>
                <h6 class="card-subtitle text-white m-0 op-5">Show information about social model</h6>
            </div>
            <div class="message-box contact-box p-20">
                <div class="message-widget contact-widget">
                    <div fxFlex.gt-sm="100" fxFlex="100">
                        <p>
                            <span>Query: {{selectedQuery.name}}</span> <br>
                            <span>User: {{selectedUser}}</span>
                        </p>

                        <img style="max-width:100%;" [src]="'data:image/png;base64,'+userModel | safeHtml" alt="User model" (click)="swipe('data:image/png;base64,'+userModel, selectedUser);"/>

                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <!--Lista de queries ya guardadas-->
        <mat-card>
            <div class="p-20 bg-info position-relative">
                <button style="float: right;" (click)="generateAllModels()" mat-raised-button color="secondary">Generate all models</button>
                <div>
                    <h4 class="card-title text-white m-0">Sended queries</h4>
                    <h6 class="card-subtitle text-white m-0 op-5">Select one of the queries sent to smartphoes here</h6>
                </div>
            </div>
            <div class="message-box contact-box p-20">
                <div class="message-widget contact-widget">
                    <!-- for each query -->
                    <a *ngFor="let q of queries" (click)="selectQuery(q)">
                        <div class="mail-contnet">
                            <h5>{{q.name}}</h5>
                        </div>
                    </a>
                </div>
            </div>
        </mat-card>
    </div>
</div>