<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <div class="p-20 bg-info position-relative" style="background-color: #616161 !important;">
                <h4 class="card-title text-white m-0">New Query</h4>
                <h6 class="card-subtitle text-white m-0 op-5">New query to be send to smartphones (in LTL format)</h6>
            </div>
            <div class="message-box contact-box p-20">
                <form #queryForm="ngForm" (ngSubmit)="queryForm.form.invalid?'':sendQuery()">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Query </mat-label>
                        <input matInput  class="form-control" placeholder="Name" #name="ngModel" required [(ngModel)]="newQuery.name" name="name">
                    </mat-form-field>                

                    <div class="example-full-width" style="margin: 1%;">
                        <button mat-raised-button color="primary" type="submit">Send</button>
                    </div>
                    <div *ngIf="error_save!=null">
                        <span style="color:red;">{{error_save}}</span>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">

        <!--List of previous queries-->
        <mat-card>
            <div class="p-20 bg-info position-relative">
                <h4 class="card-title text-white m-0">Previous Queries</h4>
                <h6 class="card-subtitle text-white m-0 op-5">List of the queries previously sent to smartphones</h6>
            </div>
            <div class="message-box contact-box p-20">
                <div class="message-widget contact-widget">
                    <!-- for each query -->
                    <a *ngFor="let q of queries">
                        <div class="mail-contnet">
                            <button style="float: right;" mat-raised-button color="secondary" (click)="resendQuery(q)">Resend</button>
                            <h5>{{q.name}}</h5>  <!-- <span class="mail-desc">{{p.URL}}</span> -->
                        </div>
                    </a>
                </div>
            </div>
        </mat-card>
    </div>
</div>
    
