.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
    right: 17px;
    top: 57px;
}

